//
   Created by sam on 9/12/15.
html
    head
        script(src='/leaflet.js')
        link(rel='stylesheet', href='/leaflet.css')
        title!= title
    body
        div#map(style="width:100%;height:100%")
            
        script(src='/index.js')